
#realted-blogs{
    background-color: var(--shade-main-shade);
    width: 100%;
    position: relative;
    width: 100%;
    padding: 30px 0;
}

#realted-blogs .ellipse{
    position: absolute;
    z-index: 0;
}

#realted-blogs .ellipse-1{
    top: 0%;
    left: 0%;
}

#realted-blogs .ellipse-2{
    bottom: 0%;
    left: 0%;
}

#realted-blogs .ellipse-3{
    bottom: 0%;
    right: 0%;
}

#realted-blogs .related-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}


@media screen and (max-width: 918px){
    #realted-blogs .related-container{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }    
}

@media screen and (max-width: 518px){
    #realted-blogs .related-container{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }    
}